    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Spotlight Infosec</h2>
                <p>Simply put, we understand cyber security and OSINT (Open Source Intelligence). Those fields are our passions and we use our expert skills to help bring our customers answers.</p>
                <p>We are researchers, teachers, and practitioners.</p>
                <p>Micah "<a href="https://twitter.com/webbreacher" target="_blank">WebBreacher</a>" Hoffman, principal investigator and owner of Spotlight Infosec LLC, has been in the cyber security and OSINT fields for over 15 years. Since 2014, Micah has taught courses for the SANS Institute and, in 2018, he completed and launched SANS's first OSINT course, <a href="https://sans.org/sec487" target="_blank">SEC487 - Open Source Intelligence (OSINT) Gathering & Analysis</a>. An avid OSINT researcher and teacher, Micah maintains a personal web site at <a href="https://webbreacher.com" target="_blank">WebBreacher.com</a> that has links to blog posts and videos of his webcasts and conference talks. He is a heavy contributor to the OSINT community and is one of the founding members of the <a href="https://osintcurio.us" target="_blank">OSINTCurious Community site</a>.
                </p>
            </div>
        </div>
    </section>