    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Spotlight Infosec</h2>
                <p>We work with our customers to achieve their
                   Open Source Intelligence (OSINT) and cyber security goals.</p>
                <p>Our experts understand the complex landscape of their fields
                    and ensure that their custom solutions
                    become actionable results for our customers.</p>
            </div>
        </div>
    </section>