    <!-- Contact Section -->
    <section id="contact" class="container content-section">
        <div class="background-section">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us</h2>
                <p>Email: <a href="mailto:info@spotlight-infosec.com?subject=Information Request">info@spotlight-infosec.com</a><br>
                   ProtonMail Encrypted Email: <a href="mailto:info@securemail.spotlight-infosec.com?subject=Information Request">info@securemail.spotlight-infosec.com</a></p>
            </div>
        </div>
    </section>