    <!-- News Section -->
    <section id="news" class="content-section">
        <div class="background-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>In the News</h2>
                    <p>Take a look at our people in the news:</p>
                    <ul>
                        <li>"Intelligence for the OSINT Curious", Recorded Future Podcast, <a href="https://www.recordedfuture.com/podcast-episode-115/" target="_blank">https://www.recordedfuture.com/podcast-episode-115/</a>, July 2019</li>
                        <br>
                        <li>"Privacy Fix: How to Find Old Online Accounts", Consumer Reports Magazine, <a href="https://www.consumerreports.org/digital-security/how-to-find-old-online-accounts/" target="_blank">https://www.consumerreports.org/digital-security/how-to-find-old-online-accounts/</a>, April 2019</li>
                        <br>
                        <li><a href="https://twitter.com/webbreacher" target="_blank">Micah Hoffman</a> presenting at the <a href="https://layer8conference.com/presentations/" target="_blank">Layer8 Social Engineering and Open Source Intelligence (OSINT) conference</a> in June 2019. Talk is titled "Getting the Good Stuff: Understanding the Web to Achieve Your OSINT Goals".</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>