    <!-- WhatWeDo Section -->
    <section id="whatwedo" class="content-section text-center">
        <div class="whatwedo-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>What We Do</h2>
                    <p>We are not only practicing our cyber and OSINT tradecraft but we are researching new techniques, sharing those with the community, and creating techniques to further the industry.</p>
                </div>
            </div>
        </div>
    </section>