    <!-- WhatWeDo Section -->
    <section id="whatwedo" class="content-section text-center">
        <div class="whatwedo-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>What We Do</h2>
                    <p>At Spotlight Infosec, we use open source intelligence techniques to find answers for our clients. Below are a few examples of the types of work we can do for your organization.</p>
                        <ul class="list-inline banner-social-buttons">
                            <li>High-profile asset risk assessments</li>
                            <li>Social media sentiment analysis</li>
                            <li>Locating missing people</li>
                            <li>Domain and IP address research</li>
                            <li>OSINT Training</li>
                        </ul>
                    <p>We highly encourage potential clients to contact us with their needs so that we can tailor custom solutions that fit their unique needs.</p>
                </div>
            </div>
        </div>
    </section>